[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/lifehackerhansol
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lifehackerhansol
	label-Verified = -1..+1 group user/lifehackerhansol
	push = group user/lifehackerhansol
	read = group user/lifehackerhansol
	rebase = group user/lifehackerhansol
	removeReviewer = group user/lifehackerhansol
	submit = group user/lifehackerhansol
[access "refs/heads/*"]
	create = group user/lifehackerhansol
	push = +force group user/lifehackerhansol
	pushMerge = group user/lifehackerhansol
	read = group user/lifehackerhansol
[access "refs/tags/*"]
	push = group user/lifehackerhansol
	push = +force group user/lifehackerhansol
